html { scroll-behavior: smooth; }
body { font-feature-settings: "ss01" on, "ss02" on; }
body { background-image: url('../img/fondo_marca_aguaJapp.png'); background-repeat: no-repeat; background-position: center 30%; background-size: 900px auto; }